<div class="container">
    <div class="row" style="border-style: groove; border-color:black;">
        <div class="col-lg-12" style="border-style: groove; border-color:#8B572A;text-align: center;">
            <div class="row"
                style="border-style: groove; border-color:#4A90E2;align-items: center;justify-content: center;">
                <h3>
                    Employee {{id}}
                </h3>
            </div>
            <img alt="" src="assets/{{id}}.jpg" width="100" style="border-radius: 50%;">
            <p>{{nombre}}</p>
            <p>{{cargo}}</p>
        </div>
    </div>
</div>