<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-2" style="text-align:center">
                <img alt="" src="assets/foto.jpg" width="100">
                <br /><br />
                <h6>
                    {{ nombre }}
                </h6>
            </div>
            <div class="col-lg-5">
                <app-userdetails [objeto] = "objeto" (enviar) = "getMensaje($event)"></app-userdetails>
            </div>
            <div class="col-lg-5">
                <app-accountdetails></app-accountdetails>
            </div>
        </div>
    </div>
</div>