<h5 style="font-weight:bolder">
    User Details
</h5>
<form [formGroup]="formUserDetails">
    <div class="form-group">
        <div *ngIf="txtFullname.touched && txtFullname.invalid">
            <small class="text-danger" *ngIf="txtFullname.errors.required">
                not empty
            </small>
        </div>
        <input [class.is-invalid]="txtFullname.invalid && txtFullname.touched" formControlName="txtFullname"
            name="txtFullname" placeholder="Full Name *" type="text" id="txtFullname" class="form-control"
            style="border: 0; border-bottom: 1px solid;outline: 0;" (change) = ejecutarEvento()>
    </div>
    <div class="form-group">
        <div *ngIf="txtBirthay.touched && txtBirthay.invalid">
            <small class="text-danger" *ngIf="txtBirthay.errors.required">
                not empty
            </small>
        </div>
        <div class="input-group date">
            <input [class.is-invalid]="txtBirthay.invalid && txtBirthay.touched" formControlName="txtBirthay"
                name="txtBirthay" placeholder="Your Birthay *" type="text" id="txtBirthay" class="form-control"
                style="border: 0; border-bottom: 1px solid;outline: 0;">
            <span class="input-group-addon">
                <i class="fa fa-calendar">
                </i>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="cboGender.touched && txtBirthay.invalid">
            <small class="text-danger" *ngIf="cboGender.errors.required">
                is not empty
            </small>
        </div>
        <select [class.is-invalid]="cboGender.invalid && cboGender.touched" formControlName="cboGender" name="cboGender"
            id="cboGender" class="form-control" style="border: 0; border-bottom: 1px solid;outline: 0;">
            <option value="">
                Gender
            </option>
            <option value="F">
                Femenino
            </option>
            <option value="M">
                masculino
            </option>
        </select>
    </div>
    <button class="btn btn-primary" [disabled] = "!formUserDetails.valid">Submit</button>
</form>